﻿@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/app/controllers/GameLogicController.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/styles/main.css" rel="stylesheet" />

<div ng-app="myApp">
    <div class="row">
        <div class="jumbotron">
            <h1 class="text-center"><span class="glyphicon glyphicon-home"></span> Gaming Center</h1>
            <p class="text-center">This website was built using AngularJs, Bootstrap, and MVC.</p>
        </div>

        <div ng-controller="GameLogicController">
            <div class="col-md-4">
                <img class="image-size image-center" ng-click="setRock()" data-toggle="modal" data-target="#winnerModal" src="/Content/images/rock.png" />
            </div>
            <div class="col-md-4">
                <img class="image-size image-center" ng-click="setPaper()" data-toggle="modal" data-target="#winnerModal" src="~/Content/images/paper.png" />
            </div>
            <div class="col-md-4">
                <img class="image-size image-center" ng-click="setScissors()" data-toggle="modal" data-target="#winnerModal" src="~/Content/images/scissors.png" />
            </div>
            <!-- Modal -->
            <div class="modal fade" id="winnerModal" role="dialog">
                <div class="modal-dialog modal-sm">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">And the Champion is...</h4>
                        </div>
                        <div class="modal-body text-center">
                            <h3>{{winner}}</h3>
                        </div>
                        <div class="modal-footer">
                            <div class="text-center">
                                <button type="button" class="btn btn-default text-center" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>